services:
  postgres:
    image: rafaelor20/coin_manager:v2
    container_name: coin_manager_bd
    restart: always
    ports:
      - 5433:5432
    env_file:
      - back-end/.env
    volumes:
      - postgres-volume:/var/lib/postgresql/data

  node:
    container_name: coin_manager_backend
    build: ./back-end
    restart: always
    ports:
      - 5000:5000
    depends_on:
      - postgres
    env_file:
      - back-end/.env
  
  react:
    container_name: coin_manager_frontend
    build: ./front-end
    volumes:
      - react-volume:/var/www/html
  
  nginx:
    container_name: coin_manager_nginx
    build: ./nginx
    restart: always
    ports:
      - 8080:80
    volumes:
      - react-volume:/var/www/html
    depends_on:
      - postgres
      - node
      - react

volumes:
  postgres-volume:
  react-volume:
